In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("./data.csv")

In [3]:
data.head()

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm     same          no
3  sunny     warm     high  strong  cold   change         yes

In [4]:
nonTarget=np.array(data)[:,:-1]

In [5]:
nonTarget

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'cold', 'change']],
      dtype=object)

In [10]:
Target=np.array(data)[ :,-1]

In [11]:
Target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [24]:
def findS(c,t):
    specific_hypo=[]
    for i,val in enumerate(t):
        if val=="yes":
            specific_hypo=c[i].copy()
        break;
        
    for i, val in enumerate(c):
        if t[i]=="yes":
            for x in range(len(specific_hypo)):
                if(val[x]!=specific_hypo[x]):
                    specific_hypo[x]="?"
                else:
                    pass
    return specific_hypo

In [25]:
findS(nonTarget,Target)

array(['sunny', 'warm', '?', 'strong', '?', '?'], dtype=object)